.card-container {
  border-radius: 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
  border: 1px
}

.row {
  border-radius: "10px";
}
